@page
@model TestNet8.WebApi.Pages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<p>Ip: @Model.IpAddress</p>

<h2>DOTNET8 Docker</h2>
<p>Link to <a href="weatherforecast">Weatherforecast API</a></p>
<p>
    Link to <a href="api/Students?$filter=Score%20gt%2010">Students filter</a>
</p>

<p>DOTNET8 Docker</p>
<p>Link to <a href="weatherforecast">Weatherforecast API</a></p>
<p>
    Link to <a href="api/Students?$filter=Score%20gt%2010">Students filter</a>
</p>